*{
    margin: 0 auto;
}
h1{
    font-family: 'Open Sans', sans-serif;
}
.nav{
    width: 100%;

}
.nav2{
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    
}
.nav3{
    display: flex;
    align-items: center;
}
.hnav{
    font-size: 20px;
    color: #212121;
    display: flex;
    padding-right: 40px;
}
.header{
    background: url('../lesson24/img/pexels-photo-356056@1X.png') no-repeat;
    background-size: 100%;
    width: 100%;
    height: 780px;
}
.text1{
    padding-top: 300px;
    width: 1000px;
    height: 200px;
    
}
#text1h{
    text-align: center;
    padding-top: 40px;
}
.text1h1{
    font-size: 60px;
    color: #FFFFFF;

}
.text1h2{
    font-size: 22px;
    color: #FFFFFF;
}
.but{
    text-align: center;
    padding-top: 80px;
    padding-left: 40px;
}
.button1{
    padding: 20px 20px 20px 20px;
    background-color: #00897B;
    text-decoration: none;
    color: white;
    margin: 0 auto;
    
}
.button2{
    border: 3px solid white;
    text-decoration: none;
    padding: 20px 20px 20px 20px;
    margin-right: 30px;
    color: white;
}
.header2{
    background-color: white;
    width: 100%;
    height: 800px;
    padding-top: 80px;
}
#glob{
    font-size: 50px;
    color: rgb(0, 0, 0);
    
}
.h2d1{
    width: 300px;
    height: 500px;
    text-align: center;
}
.h2d2{
    width: 300px;
    height: 500px;
    text-align: center;

}
.h2d3{
    width: 300px;
    height: 500px;
    text-align: center;

}
.header2k{
    display: flex;
    width: 100%;
    height: 400px;
    margin-top: 50px;

}
.header3{
    width: 100%;
    height: 1300px;
    background-color: #E4FDF9;
}
.text2{
    width: 580px;
    height: 300px;
}
.text2h1{
    color: #212121;
    font-size: 30px;
}
.text2h2{
    color: #212121;
    font-size: 15px;
}
.texth{
    font-size: 20px;
    color: #212121;
}
.texto{
    font-size: 15px;
    color: #212121;
}
.header3text{
    width: 580px;
}
.bloc{
    width: 470px;
    height: 500px;
    background-color: white;
}
.content{
    display: flex;
    padding-left: 30px;
    flex-wrap: wrap;
    margin: 50px;
    text-align: center;
}
.bloc2{
    margin-top: 30px;
    width: 470px;
    height: 500px;
    background-color: white;
}
.imgcb{
    padding-top: 40px;
}
.textob{
    font-size: 15px;
    color: #212121;
    width: 250px;
}
.ab{
    text-decoration: none;
    border: 3px solid #212121;
    padding: 20px 20px 20px 20px;
    color: #212121;
    font-size: 20px;
    
}
.dab{
    padding-top: 40px;
    width: 300px;
    height: 100px;
}
.header4{
    width: 100%;
    height: 1800px;
}
.h4text{

}
.textob2{
    font-size: 15px;
    color: #212121;
    width: 600px;
    padding-top: 30px;
}
.texth2{
    font-size: 30px;
    
}
.a4{
    border: 3px solid #00897B;
    padding: 20px 20px 20px 20px;
    color: #212121;
    text-decoration: none;
    font-size: 20px;
}
.h4a4{
    width: 800px;
    height: 200px;
    text-align: center;
    padding-top: 100px;
    
}
.a41{
    border: 3px solid #00897B;
    padding: 20px 30px 20px 30px;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    background-color: #00897B;

}
.h4img{
    width: 100%;
    height: 600px;
    flex-wrap: wrap;
    text-align: center;

}
.imgh4{
    width: 490px;
    height: 490px;
    padding: 20px;
}
.aimg{
    padding-top: 100px;
}
.a5{
    border: 3px solid #00897B;
    padding: 20px 30px 20px 30px;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    background-color: #00897B;
}
.header5{
    width: 100%;
    background-color: rgb(243, 243, 243);
    height: 1100px;
}
.textheader5{
    text-align: center;
    width: 600px;
}
.zaglheader5{
    color: #212121;
    font-size: 30px;
}
.texthheader5{
    padding-top: 40px;
    color: #212121;
    font-size: 15px;
}
.blokplan1{
    width: 500px;
    height: 700px;
    background-color: aqua;
}
.plan{
    width: 90%;
    height: 700px;
    display: flex;
    margin-top: 50px;
}
.headblok{
    background-color: #3949AB;
    width: 500px;
    height: 200px;
    display: block;
    text-align: center;
}
.podrplan{
    width: 330px;
    display: flex;
    padding-top: 30px;
    
}
.price{
    font-size: 50px;
    color: white;
    font-weight: 100;
}
.dollar{
    color: white;
    font-weight: 100;
}
.data{
    color: white;
    font-weight: 100;
}
.bodyblok{
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 500px;
}
.textniz{
    width: 300px;
    text-align: center;
    padding-top: 50px;
    
}
.textnizh{
    color: #212121;
    font-weight: 100;
    padding-top: 20px;
}
.polhead5{
    padding-top: 60px;
}
.knopp{
    text-align: center;
    padding-top: 80px;
}
.knopkaa{
    padding: 20px 40px 20px 40px;
    text-decoration: none;
    border: 2px solid black;
    font-size: 25px;
    color: rgb(0, 0, 0);
}
.knopkaaz{
    padding: 20px 40px 20px 40px;
    text-decoration: none;
    background-color: #00897B;
    font-size: 25px;
    color: white;
}
.nazvplan{
    color: white;
    font-weight: 100;
}
.blokplan2{
    width: 500px;
    height: 700px;
    background-color: aqua;
    box-shadow: 0 0 50px black;
    
}
